language: r
warnings_are_errors: false
sudo: required

env:
  global:
    - CRAN: http://cran.rstudio.com
   
notifications:
  email:
    on_success: change
    on_failure: change

after_success:
  - Rscript -e 'library(covr);coveralls()'

r_github_packages:
  - jimhester/covr
  - droglenc/FSAdata
  